
<form action="/verificare-autentificare" method="POST">
    <br/>
    <fieldset>
        <span style="color: rgb(255, 0, 0);"><%-mesajEroare %></span> <br/>
        <label> Utilizator:</label><br>
        <input type="text" id="utilizator" name="utilizator"><br>
        <label> Parolă:</label><br>
        <input type="password" id="parola" name="parola"><br><br>
        <button class= "button" type="submit" > Autentificare</button>
    </fieldset>
</form>